experiments/build
experiments/.project
experiments/.idea/dictionaries
experiments/.idea/shelf
experiments/cmake-build-debug
experiments/captures
*.aux
*.fdb_latexmk
*.fls
*.out
*.toc
*.synctex.gz
*.bbl
*.blg
*.qlmat
main.log
experiments.iml
misc.xml
workspace.xml
modules.xml
vcs.xml